name: Deploy AWS CDK

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  
  workflow_dispatch:

jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"

      - name: Install AWS CDK
        run: sudo npm install -g aws-cdk
        working-directory: cdk

      - name: CDK version
        run: cdk --version

      - name: Install requirements
        run: npm ci
        working-directory: cdk

      - name: Build
        run: npm run build
        working-directory: cdk

      - name: CDK synth
        run: cdk synth
        working-directory: cdk
      
      - name: CDK deploy
        run: cdk deploy
        working-directory: cdk
      
